# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore eclipse build output directory
bin

# Ignore 3rd Party Libraries
lib/bcrypt-0.3.jar
src/main/webapp/lib/jquery/1.3.2/jquery-1.3.2.min.js
src/main/webapp/lib/jquery-plugins/fancybox/1.2.6/jquery.fancybox.css
src/main/webapp/lib/jquery-plugins/fancybox/1.2.6/jquery.fancybox.pack.js
src/main/webapp/lib/jquery-plugins/form/2.36/jquery.form.min.js

